.header__lang-link {
	font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (max-width: 450px) {
	.header__lang-link {
		font-size: 18px;
		line-height: 1.1;
	}
}