.place__title {
	margin: 0;
	padding: 0;
	font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 1.06;
	color: #FFFFFF;
	align-self: end;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 850px) {
	.place__title {
		font-size: 42px;
		line-height: 1.1;
		max-width: 330px;
	}
}

@media screen and (max-width: 630px) {
	.place__title {
		padding: 0 24px;
		max-width: 340px;
	}
}

@media screen and (max-width: 450px) {
	.place__title {
		font-size: 32px;
		padding: 0 16px;
	}
}