.photo-grid__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
	gap: 16px;
}

@media screen and (max-width: 1050px) {
	.photo-grid__list {
		gap: 14px;
	}
}

@media screen and (max-width: 850px) {
	.photo-grid__list {
		gap: 16px;
	}
}

@media screen and (max-width: 450px) {
	.photo-grid__list {
		gap: 12px;
	}
}