.photo-grid {
	padding-top: 92px;
	margin: 0 48px;
	max-width: 1184px;
}

@media screen and (max-width: 850px) {
	.photo-grid {
		padding-top: 88px;
		margin: 0 24px;
	}
}

@media screen and (max-width: 450px) {
	.photo-grid {
		padding-top: 64px;
		margin: 0 16px;
	}
}