.cover__subtitle {
	margin: 0;
	padding: 0;
	max-width: 360px;
	font-family: 'Inter', Arial, sans-serif, 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
}

@media screen and (max-width: 550px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 1.1;
		max-width: 288px;
	}
}