.footer__link {
	font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	color: #FFFFFF;
	text-decoration: none;
	transition-duration: 0.4s;
	box-sizing: border-box;
}

.footer__link:hover {
	opacity: 0.8;
	transition-duration: 0.5s;
}

@media screen and (max-width: 700px) {
	.footer__link {
		font-size: 24px;
		line-height: 1;
		text-rendering: optimizeLegibility;
	}
}