.lead__caption {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	font-family: 'Inter', Arial, sans-serif, 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

@media screen and (max-width: 850px) {
	.lead__caption {
		margin-left: 24px;
	}
}

@media screen and (max-width: 450px) {
	.lead__caption {
		margin-left: 16px;
	}
}