.cover__title {
	margin: 0;
	padding: 0 0 32px;
	max-width: 560px;
	font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 1.06;
	text-align: center;
	text-rendering: optimizeLegibility;
	color: #FFFFFF;
}

@media screen and (max-width: 550px) {
	.cover__title {
		font-size: 32px;
		line-height: 1.09;
		padding-bottom: 16px;
		max-width: 288px;
	}
}