.place__paragraph {
	margin: 0;
	padding: 0 0 26px;
	font-family: 'Inter', Arial, sans-serif, 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.61;
	color: #FFFFFF;
	box-sizing: border-box;
}

.place__paragraph:last-child {
	padding-bottom: 0;
}

@media screen and (max-width: 850px) {
	.place__paragraph {
		font-size: 16px;
		padding-bottom: 25px;
		line-height: 1.63;
	}
}