.place {
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-rows: auto;
	gap: 48px 40px;
	box-sizing: border-box;
}

.place:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
	.place {
		grid-template-columns: 440px 1fr;
		column-gap: 32px;
	}
}

@media screen and (max-width: 850px) {
	.place {
		grid-template-columns: 340px 1fr;
		column-gap: 28px;
		margin-bottom: 73px;
	}
}

@media screen and (max-width: 630px) {
	.place {
		grid-template-columns: minmax(320px, 1fr);
		row-gap: 32px;
		margin-bottom: 50px;
	}
}