.footer {
	max-width: 1184px;
	margin: 0 48px;
	padding: 92px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

@media screen and (max-width: 850px) {
	.footer {
		margin: 0 24px;
		padding: 88px 0 24px;
	}
}

@media screen and (max-width: 700px) {
	.footer {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (max-width: 450px) {
	.footer {
		margin: 0 16px;
		padding: 64px 0 24px;
	}
}