.footer__list-item {
	margin-right: 18px;
	box-sizing: border-box;
}

.footer__list-item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 700px) {
	.footer__list-item {
		margin-right: 0;
		padding-bottom: 32px;
	}

	.footer__list-item:last-child {
		padding-bottom: 0;
	}
}