.intro__title {
	margin: 0;
	padding: 0 0 40px;
	font-family: 'Inter', Arial, sans-serif, 'Helvetica Neue';
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 1.07;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	color: #FFFFFF;
}

@media screen and (max-width: 450px) {
	.intro__title {
		font-size: 32px;
		line-height: 1.09;
	}
}